

<h4>America admires its athletes,</h4> 

<h3>especially at the professional and college levels.  But <span>not everyone</span> who plays sports at young age <span>will</span> get to play at these advanced levels.

<p>We at <em>Forward Progress</em> recognize that the chances that young sportsmen will play at advanced levels over time will decrease.  Only a lucky few make it to the collegiate level. </p>


<h3>And only a few from <em>that</em> pool will garner national attention.</h3>


<h3>And only a few from <em>that</em>pool make it to the professional stage.</h3>

<h3>And only a few from <em>that</em>pool will have a long and successful career in professional sports. </h3>

<p>We believe that Americans have not done enough to prepare our youth for this inconvenient truth.  Alarmingly, our nation often coddles their collective naïveté, to the point where we prioritize athletics over academic excellence and personal growth.   What happens when an athlete’s promising career is cut short through competition or, worse yet, injury? </p>

<p>In far too many cases, we have seen a system fail to prepare athletes for other paths in life. Many student-athletes cannot read or write at grade level, and are given lenient treatment or lax standards simply because they are athletes.   At several universities, students earn grades for classes they do not attend or do hardly any work for.   We enjoy watching athletic superstars who can only read at eighth-grade, or even third-grade levels. </p>

<p> We appreciate that many universities have learning specialists to address their institutions’ respective difficulties, but that is not enough - the whole system is problematic. </p>

<p>Certainly, we support reforms that will help the next generation manage their expectations and reach higher academic standards even before they reach college. </p> 

<h3><span>But...</span> what about the current generation? </h3>

<p><strong>That</strong> is where Forward Progress comes in.</p>

<p>We believe in a better path. </p>

<div class = "beliefs">

  <h1>We believe...</h1>
  
  <div class = "believing">

  <h2>NOT in...</h2>

    <ul>
      <li>loose expectations</li> 

      <li>a mere safety net for those who fall</li> 

      <li>shaming or ostracism<li>

      <li>infantilizing</li>

      <li>treating academic difficulties as scarlet letters</li>
    </ul>
  </div>

  <div class = "believing">

  <h2>BUT rather in...</h2>
    <ul>
      <li>raised standards.</li> 

      <li>a trampoline for them to bounce back and reach new heights</li>

      <li>respect and encouragement<li>

      <li>treating our young adults as such</li>

      <li>honoring their natural dignity</li>
    </ul>
  </div>

</div>

<p>We believe in a system that displays the utmost confidence in every student to grow, as a scholar and as a person.</p>

<p>Therefore, we have worked to create a student-based system where our tutors will help students learn the skills they need to thrive in this century.  Not just “reading, writing, ‘rithmetic” — but also computer literacy and other important skills (this clause may be amended).  And we will also help them teach others - from their peers to the next generations - these skills.  After all, as the philosopher Joseph Joubert said, “To teach is to learn twice.”</p>

<p>We hope to instill a better sense of citizenship and service not just in our students, but also in the people and communities whom they inspire. </p>

<p>Thanks for visiting our site, and welcome. </p>

<p>Sincerely,</p>

<div class = "signatures">
  <div id = "Shatz">
  <img src = ""> <!--my signature-->
  <h3>Jason D. Shatz</h3>
  <h5>Founder,President</h5>
</div>

<div class = "signatures">
  <div id = "Sabin">
  <img src = ""> <!--my signature-->
  <h3>David Sabin</h3>
  <h5>Co-founder,CEO</h5>
</div>