<h1>Testimonials</h1>

<h2>Here are some success stories that truly exemplify Forward Progress.</h2>

<div class = "testimonial-link">
  <img src = "http://www.asoalearningcenter.org/Themes/ASOATheme/Content/images/icons/Portrait-Icon.jpg">
  <h4>John X</h4>
</div>

<div class = "testimonial-link">
  <img src = "http://www.asoalearningcenter.org/Themes/ASOATheme/Content/images/icons/Portrait-Icon.jpg">
  <h4>Bill X</h4>
</div>

<div class = "testimonial-link">
  <img src = "http://www.asoalearningcenter.org/Themes/ASOATheme/Content/images/icons/Portrait-Icon.jpg">
  <h4>Mary X</h4>
</div>

<div class = "testimonial-link">
  <img src = "http://www.asoalearningcenter.org/Themes/ASOATheme/Content/images/icons/Portrait-Icon.jpg">
  <h4>Adam X</h4>
</div>

<div class = "testimonial-link">
  <img src = "http://www.asoalearningcenter.org/Themes/ASOATheme/Content/images/icons/Portrait-Icon.jpg">
  <h4>Eileen X</h4>
</div>

<div class = "testimonial-link">
  <img src = "http://www.asoalearningcenter.org/Themes/ASOATheme/Content/images/icons/Portrait-Icon.jpg">
  <h4>McKenzie X</h4>
</div>

<script src = "testimonials.js"></script>
