<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>Forward Progress</title>
</head>
<body>
<div class = "wrapper"
  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT US</a></li>
      <li><a href="/testimonials">TESTIMONIALS</a></li>
      <li><a href="/getinvolved">JOIN</a></li>
    </ul>
  </nav>

  <%= yield %>

  <footer>
    <div id="socialBar">
      <ul>
        <li><a href="https://www.facebook.com/Left-Shark-794713283910546/?fref=ts"><img src=""></a></li>
        <li><a href="https://twitter.com/leftshark?lang=en"><img src=""></a></li>
        <li><a href="https://www.youtube.com/watch?v=lnsapkBJ5Lc"><img src=""></a></li>
      </ul>
    </div>

    <h6>&Copy 2016 Sabin + Shatz</h6> 
  </footer>
</div>

</body>
</html>
